<div class="card">
    <div class="card-header">Pridetinauja vartotoja</div>
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label">Vardas</label>
            <input type="text" class="form-control" [(ngModel)] = "userName" #name>
        </div>
        <div class="mb-3">
            <label class="form-label">Pavarde</label>
            <input type="text" class="form-control" [(ngModel)] = "userSurname" #surname>
        </div>
        <button class="btn btn-success" [disabled]="userName == '' || userSurname == '' " (click)="addUser(name, surname)" >Prideti</button>
    </div>
</div>
